div {
    /* border: 2px solid red; */
    font-size: 20px;
}

h1 {
    /* border: 2px solid black; */
    font-family: Georgia, serif;
    font-weight: bold;
    margin-bottom: 3px;
    width: 600px;
}

h2 {
    /* border: 2px solid black; */
    font-family: Georgia, serif;
    margin: 0px;
    width: 400px;
    font-weight: lighter;

}

span {
    color: red;
}

#firstpara {
    /* border: 2px solid black; */
    width: 800px;
    margin-top: 50px;


}

#secondpara {
    /* border: 2px solid black; */
    width: 800px;

}

.btn {
    cursor: pointer;
    color: white;
    background-color: #00C5DE;
    padding: 15px 40px;
    border-radius: 30px;
    border: none;
    box-shadow: 2px 4px 5px 2px #a9a9a9;
    text-align: left;
    
}
.btn:hover {
    background-color: #3d8089;
}

.box {
    /* border: 2px solid red; */
    width: 250px;
    height: 250px;

}

.box7 {
    /* border: 2px solid red; */
    width: 50%;
    height: 600px;

}

#image {
    /* background-color: antiquewhite; */
    position: fixed;
    right: 4px;
    bottom: 2px;
}

#box1 {
    /* background-color: yellow; */
    position: absolute;
    top: 120px;
    right: 310px;
    z-index: 1;
}

#box2 {
    /* background-color: aquamarine; */
    position: absolute;
    top: 232px;
    right: 30px;
    z-index: 1;
}

#box3 {
    /* background-color: greenyellow; */
    position: absolute;
    top: 283px;
    right: 590px;
    z-index: 1;
}

#box4 {
    /* background-color: gray; */
    position: absolute;
    top: 398px;
    right: 310px;
    z-index: 1;
}

#box5 {
    /* background-color:palevioletred; */
    position: absolute;
    top: 564px;
    right: 590px;
    z-index: 1;
}

#box6 {
    /* background-color:lightskyblue; */
    position: absolute;
    top: 400px;
    right: 874px;
    z-index: 1;
}

.box img {
    width: 100%;
    height: 100%;
}

.box7 img {
    height: 200%;
    width: 150%;

}
